body {
  margin: 0;
}

main {
  flex: 1;  
 }

 main.inicio {
    background: 
    linear-gradient(rgba(255, 255, 255, 0.212), rgba(255, 255, 255, 0.7)),
    url('../img/supermercado.jpg') center/cover no-repeat;
 }

/*Encabezado y Nav*/  

.dropdownmenu a.active {
  background: none; 
  color: black;
  font-weight: 500;
  color:#39C413;
  }


.site-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
  background-color: #fff; 
  }

.brand .logo {
  display: block;
}

.main-nav {
  text-align: center;
}

.dropdownmenu {
  background: none; 
  list-style: none;
  width: auto; 
  display: flex; 
  justify-content: center; 
}

.dropdownmenu li {
  position: relative;
  width: auto;
}

.dropdownmenu a {
  display: block;
  font-family: 'Roboto Mono', monospace; 
  font-weight: 500; 
  font-size: 16px;
  padding: 25px 80px; 
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all .25s ease;
}

.menu.inicio { border-top: #0077B6 0.3em solid; }
.menu.productos { border-top: #FF6D00 0.3em solid; }
.menu.comida { border-top: #F3FF0D 0.3em solid; }
.menu.bebida { border-top: #39C413 0.3em solid; }
.menu.congelados { border-top: #FF0707 0.3em solid; }
.menu.ofertas { border-top: #FF6D00 0.3em solid; }
.menu.servicios { border-top: #0077B6 0.3em solid; }
.menu.contacto { border-top: #FF6D00 0.3em solid; }


.dropdownmenu li:hover > a {
  background: #0077B6; 
  color: #fff;
}

#submenu {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  top: 100%; 
  left: 0;
  z-index: 9999;
}

li:hover ul#submenu {
  opacity: 1;
   visibility: visible;
}

#submenu li {
  float: none;
  width: 100%; 
  list-style-type: none;
}

#submenu a {
  background-color: BLACK; 
  color: #fff;
  padding: 15px 2px;
  width: 100%;
  text-align: center;
  margin-left: -40px;
}

#submenu a:hover {
  background: #FF6D00; 
}

.header-actions {
  display: flex;
  align-items:center;
  gap: 30px;
}

.icon {
  font-size: 24px;
  text-decoration: none;
  color: black;
  transition: color 0.2s;
  margin: 0 0 0 10px;
}

.icon:hover {
  color: #FF6D00; 
}

.lang-toggle-container {
  display: flex;
  align-items: center;
  position: relative; 
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0 10px; 
}

.toggle-track {
  width: 50px; 
  height: 20px; 
  background: #7A7575; 
  border-radius: 10px;
  position: relative;
  margin: 0 10px;
  transition: background 0.2s;
}

.toggle-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background 0.2s;
}

.lang-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  z-index: 1; 
}

.lang-es {
  left: -20px; 
  color: #000;
  font-weight: 500;
}

.lang-en {
  right: -20px; 
  color: #7A7575; 
  font-weight: 300;
}

#lang-toggle:checked + .toggle-label .toggle-track {
  background: #39C413; 
}

#lang-toggle:checked + .toggle-label .toggle-thumb {
  transform: translateX(40px); 
}

#lang-toggle:checked + .toggle-label .lang-es {
  color: #7A7575;
  font-weight: 300;
}

#lang-toggle:checked + .toggle-label .lang-en {
  color: #000;
  font-weight: 500;
}


/*Footer*/  

.site-footer {
  padding: 20px;
  background: #fafafa;
  border-top: 1px solid var(--gris-30);
  display: grid;
  gap: 30px;
  position: relative;  /* <- en vez de fixed */
  width: 100%;
  margin-top: 50px;    /* separa del contenido */
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
}

.footer-col {
    flex: 1; /* Hace que todas las columnas ocupen el mismo espacio base */
    margin-right: 40px; 
}

.footer-col-mapa {
    flex: 1; 
    margin-right: 200px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col a {
    color: #555;
    text-decoration: none;
    font-size: 0.9em;
}

.map-container iframe {
    width: 100%;
    height: 250px;
    display: block;
}

.footer-bottom {
    text-align: center; 
    font-size: 0.9em;
    color: #555;
    padding-top: 10px; 
    border-top: 1px solid #eee; 
}

.site-footer .socials {
    display: flex;
    align-items: center; 
    gap: 15px; /* Separación uniforme */
}

.site-footer .socials img { 
    width: 35px; 
    height: 35px; 
   }


.whatsapp-fab {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--verde-activo);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

.whatsapp-fab img { 
    width: 60px; 
    height: 60px; 
}

/*Inicio*/  
.inicio {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.hero {
  color: #fff;
  padding: 100px 20px;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.397);
  display: inline-block;
  padding: 40px;
  border-radius: 12px;
}

.hero h1 {
  font-size: clamp(1.8rem, 3vw, 3rem);
  margin-bottom: 15px;
  }

.hero p {
  font-size: 1rem;
  margin-bottom: 25px; 
}

.btn-cta {
  display: inline-block;
  background-color: #39C413;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn-cta:hover {
  background-color: #39fd02;
}

.categorias {
  padding: 50px 20px;
}

.categorias h2 {
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.categoria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.categoria-card {
  text-decoration: none;
  color: black;
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.categoria-card:hover {
  transform: scale(1.05);
}

.categoria-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.mapa {
  padding: 50px 20px;
}

/*Servicios*/  

.servicios {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.servicios h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #0077B6; 
}

.servicios table {
  width: 100%;
  border-collapse: separate; /* permite separación entre celdas */
  border-spacing: 0 15px; /* separación vertical entre filas */
}

.servicios caption {
  caption-side: top;
  font-weight: 800;
  color: #39C413; 
  font-size: 1.2rem;
 }

.servicios thead th {
  background-color: #FF6D00;
  color: white;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border:#000 1px solid;
  }

.servicios tbody tr {
  background: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.servicios tbody td {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.service-note {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-align: center;
  color: #FF6D00;
  font-size: 1.1rem;
  align-content: center;
}

/*Contacto*/  
.contacto {
  padding: 60px 10%;
  }

.contacto h2 {
  font-size: 2rem;
  color: #39C413;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

/* Formulario */
form {
  max-width: 600px;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-weight: 500;
  color: #333;
  text-align: left;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="tel"],
form textarea {
  width: 100%;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.3s;
}

form input:focus,
form textarea:focus {
  border-color: #39C413;
  outline: none;
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

form input[type="checkbox"] {
  margin-right: 8px;
}

form input[type="submit"] {
  background-color: #39C413;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #2da00f;
}
form input[type="reset"] {
  background-color: #f3390a;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 40px; 
}

.boton-volver {
  display: inline-block;
  padding: 10px 25px;
  background-color: #0056ff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.boton-volver:hover {
  background-color: #ff7300;
}

/* En pantallas pequeñas: que el botón quede en flujo normal debajo de la imagen */
@media (max-width: 900px) {
  .contenedor {
    margin-top: 40px;
  }
}